{% extends 'base.html' %}
{% load static %}

{% block content %} 



<main class="container" style="background-image: url('{% static 'img\capa.png' %}');"> 
					

			<ul  class="container-conteudo"id='IconAgen'>

				<h2 class="title-padrao" id ='ag'>Agendamentos</h2>
		
				<div class="board">
				{% for evento in eventos %}
					<div  style={% if evento.evento_atrasado %} 'color: red'	 {% endif %}>

						<li>&#10024;
							{{evento.titulo}} - {{evento.getDataEvento}} 

								<a href="evento/?id={{evento.id}}">(Editar</a>
								<a href="evento/delete/{{evento.id}}">/Excluir)</a></li>


						</div>


									
				{% endfor %} 

				</div>
					<!-- <div id='fundo'></div> -->

					<div id="box">
						
						<a id='novoCad' href="evento/">
							<input class='btn-padrao'  type="submit" name="submit" value="Novo evento" id="submit" />
							<!-- <button class='btn-padrao' type="button">Novo Evento</button> -->
						</a>

						<a  id='logout' href='/logout/'>
							<input class='btn-padrao'  type="submit" name="Sair" value="Logout"/>
							<!-- <button type="button">Logout</button> -->
						</a>
					</div>
						
			</ul>

					


					

    </main> 
				
{% endblock %}    