{% load static %}
<!DOCTYPE html>

<html>

    <head>
            <title>Agenda</title>

            <meta charset="utf-8">
            <!-- Favicon -->
            <link rel="icon" href="{% static 'img\favicon.ico' %}">

            <!-- CSS -->
            <link rel="stylesheet" type="text/css" href='{% static "css/loginstyle.css" %}'>
            <link rel="stylesheet" type="text/css" href='{% static "css/agendamento.css" %}'>
            <!-- ICONES -->
            <script src="https://unpkg.com/feather-icons"></script>

    </head>

    <body>

    {% block content %}  {% endblock %}    
    
    
    <script>
      feather.replace();
    </script>
  </body>  
</html>
