{% extends 'base.html' %}
{% load static %}

{% block content %} 

    <main class="container" style="background-image: url('{% static 'img\capa.png' %}');"> 

        <!-- <img class ="bg-body"href="{% static 'img\capa.png' %}"> -->


        <div id="formulario" class="form">
          
            
             <form action="submit" method="POST">{% csrf_token %}
                    <h1   id='titulo'>Login</h1>
                    <div class="c-input">
                        <input id='name' type="text" name="username" placeholder="Usuário" />
                        <i data-feather="user"></i>
              
                        <input id='password' type="password" name="password"  placeholder="Senha" />
                        <i data-feather="lock"></i>
                      </div>
                   
                      <input class='btn-padrao'  type="submit" name="submit" value="Entrar" id="submit" />
                      <!-- <button type="submit"> Entrar </button> -->

                </form>

         </div>
        {% for message in messages %}
            <div align='center'>
                <strong>ERRO : </strong>{{message}}
            </div>
        {% endfor %}

    </main> 

{% endblock %}    







